<!-- chat list -->
<div class="flex flex-col w-2/5 border-r-2 overflow-y-scroll flex-grow no-scrollbar">
    <!-- search compt -->
    <div class="border-b-2 py-4 px-2 sticky top-0 bg-white">
        <input type="text" placeholder="search chatting"
            class="py-2 px-2 border-2 border-gray-200 rounded-2xl w-full" />
    </div>
    <!-- end search compt -->
    <!-- user list -->
    <% if (locals.contacts) { %>
    <% contacts.forEach(contact => { %> 
        <a href="/chat/messages/<%=contact.email%>">
            <div class="flex flex-row py-4 px-2 justify-center items-center border-b-2">
                <div class="w-1/4">
                    <img src=<%=contact.profile.profileImg%>
                        class="object-cover object-center h-12 w-12 rounded-full" alt="profile picture" />
                </div>
                <div class="w-full">
                    <div class="text-lg font-semibold"><%=contact.name.firstName%> <%=contact.name.lastName%></div>
                </div>
            </div>
        </a>   
    <% }) %>
    <% } %>
    <!-- end user list -->
</div>
<!-- end chat list -->