<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chit Chat</title>
    <link rel="stylesheet" href="/css/output.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body class="flex justify-center min-h-screen items-center bg-black ">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 form" method="post" action="/user/login">

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email" name="email" type="email" placeholder="Email" required>
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input
                class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="password" type="password" placeholder="******************" name="password" required>
            <% if (locals.error) { %>
                <p class="text-red-500  text-xs italic">
                    <%= error %>
                </p>
                <% } %>
        </div>

        <div class="flex items-center justify-center gap-5 flex-wrap">
            <button type="submit"
                class="bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline duration-150 transition-all loginButton"
                type="button">
                Sign In
            </button>
            <a class="align-baseline font-bold text-sm flex flex-col items-center duration-150 transition-all"
                href="/user/signup">
                <p>Don't have an account? </p>
                <div>Sign Up</div>
            </a>
        </div>

        <div class="form-control my-5">
            <label class="label cursor-pointer">
                <span class="label-text">Remember me</span>
                <input type="checkbox" name="remember" class="checkbox" />
            </label>
        </div>
    </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    const form = document.querySelector('.form');
    const input = document.getElementById('email');

    form.addEventListener('submit', (e) => {
        if (input.value) {
            socket.emit('welcome', input.value);
        }
    });
</script>

</html>